@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App-logo {
  font-family: "Poppins", sans-serif;
  height: 46px;
  float: left;
  position: fixed;
  left: 121px;
  top: 21px;
  pointer-events: none;
}

.App-Name {
  font-family: "Poppins", sans-serif;
  height: 25px;
  width: 102px;
  position: fixed;
  top: 32px;
  left: 181px;
  color: #FF8D41;
  font-family:'Poppins';
}


.right{
  width: 12%;
  position: absolute;
  left: 50%;
  top: 23%;
  background-color: rgb(255, 255, 255);
  padding-left: 12vw;
  
}

.Image{
  position: relative;
  top: 0px;
  width: 30.6vw;
}


.manymore{
  position: relative;
  top: 200vh;
  left: 40vw;
  width: 1%;
}

.trapezoid-shape {
  width: 400px; /* Adjust width as needed */
  height: 350px; /* Adjust height as needed */
  background-color: #9c0000; /* Background color of the shape */
  border-radius: 16px; /* Rounded corners */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); /* Adding shadow */
  clip-path: polygon(0% 60%, 100% 0%, 100% 100%, 0% 100%);
}


.image-container {
  display: flex;
  gap: 10px; /* No gap between images */
}

.image1 {
  width: 48%; /* Adjust as needed */
  height: auto;
  object-fit: contain;
}
